.bird-info {
  width: 58%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: $color-violet-pale-rgba;
  border-radius: 15px;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
  padding: 20px 30px;

  @media all and(max-width: 1280px) {
    width: 68%;
  }

  @media all and(max-width: 768px) {
    width: 100%;
    padding: 10px 20px;
  }

  &__basic {
    width: 100%;
    display: flex;
    margin-bottom: 30px;

    @media all and(max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__picture-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media all and(max-width: 1000px) {
      width: 35%;
    }
  }

  &__picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: $shadow; 
    box-shadow: $shadow;
    background: linear-gradient(180deg, rgba(255, 252, 247, 1) 0%, rgba(247, 191, 213, 1) 100%);
    margin: 0 auto;

    @media all and(max-width: 490px) {
      width: 100px;
      height: 100px;
    }
  }

  &__image {
    display: block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
  }

  &__other {
    width: 75%;
    padding-left: 30px;

    @media all and(max-width: 1000px) {
      width: 65%;
    }

    @media all and(max-width: 490px) {
      padding-left: 20px;
    }
  }

  &__name {
    width: 100%;
    @include font(2.2rem, 2.4rem, 500);
    color: $color-violet-dark;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-pink-add;
  }

  &__species {
    width: 100%;
    @include font(1.8rem, 2.2rem, 500);
    color: $color-violet-dark;
    border-bottom: 1px solid $color-pink-add;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  &__description {
    @include font(1.4rem, 1.8rem, 500);
    color: lighten($color-title, 10%);
    text-align: justify;
    overflow: auto;
  }
}