html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $font-main;
  font-size: 10px;
	background: rgb(254, 219, 207);
  background: radial-gradient(circle, rgba(254, 219, 207, 1) 0%, rgba(209, 168, 212, 1) 100%);
}

.logo-title {
  font-family: $font-logo;
  font-size: 5.2rem;
	color: $color-light;
	background: transparent;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;

  &::before {
    content: '';
    background-image: url(../assets/img/yellow_parrot.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -45px;
    left: 165px;
  }
}

.page-container {
  max-width: 1920px;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

  &_start {
    padding: 30px;
  }

  &_quiz {
    padding: 30px 150px 40px;

    @media all and(max-width: 1400px) {
      padding: 30px 100px 40px;
    }

    @media all and(max-width: 1000px) {
      padding: 30px 50px 40px;
    }

    @media all and(max-width: 768px) {
      padding: 30px 20px 40px;
    }
  }

  &_results {
    padding: 30px 200px 40px;

    @media all and(max-width: 1280px) {
      padding: 30px 100px 40px;
    }

    @media all and(max-width: 768px) {
      padding: 30px 20px 40px;
    }
  }

  &_gallery {
    padding: 30px 200px 40px;
    position: relative;

    @media all and(max-width: 1500px) {
      padding: 30px 100px 40px;
    }

    @media all and(max-width: 1280px) {
      padding: 30px 50px 40px;
    }

    @media all and(max-width: 768px) {
      padding: 30px 20px 40px;
    }
  }
}