@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
}

.questions__button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #fffcf7;
  background-color: #aa83c1;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media all and (max-width: 1000px) {
  .questions__button {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-style: normal;
  }
}

@media all and (max-width: 768px) {
  .questions__button {
    height: 35px;
  }
}

.questions__button:hover {
  background-color: #9a3f9a;
}

.main-player__button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main-player__button:hover {
  transform: scale(1.1);
}

@media all and (max-width: 1000px) {
  .main-player__button {
    margin-bottom: 5px;
  }
}

.main-player__button-sound {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 10px;
}

.main-player__button-sound:hover {
  transform: scale(1.1);
}

.button_play {
  background-image: url(../assets/svg/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button_pause {
  background-image: url(../assets/svg/pause.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button_volume-up {
  background-image: url(../assets/svg/volume-up.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.info-player__button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
}

.info-player__button:hover {
  transform: scale(1.1);
}

.info-player__button-sound {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 10px;
}

.info-player__button-sound:hover {
  transform: scale(1.1);
}

.answers__button {
  width: 100%;
  position: relative;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-style: normal;
  color: #9a3f9a;
  background-color: #f7dae6;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  text-align: left;
  padding-left: 60px;
}

@media all and (max-width: 768px) {
  .answers__button {
    padding-left: 40px;
  }
}

.answers__button:hover {
  background-color: #eeb0ca;
}

.answers__button::before {
  content: '';
  position: absolute;
  top: 14.5px;
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fffcf7;
  border: 1px solid #fedbcf;
}

@media all and (max-width: 768px) {
  .answers__button::before {
    width: 12px;
    height: 12px;
    top: 16.5px;
    left: 15px;
  }
}

.answers__button.correct::before {
  content: '';
  position: absolute;
  top: 14.5px;
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #228b22;
  border: 1px solid #228b22;
}

@media all and (max-width: 768px) {
  .answers__button.correct::before {
    width: 12px;
    height: 12px;
    top: 16.5px;
    left: 15px;
  }
}

.answers__button.wrong::before {
  content: '';
  position: absolute;
  top: 14.5px;
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e0115f;
  border: 1px solid #e0115f;
}

@media all and (max-width: 768px) {
  .answers__button.wrong::before {
    width: 12px;
    height: 12px;
    top: 16.5px;
    left: 15px;
  }
}

.quiz-footer {
  width: 100%;
}

.quiz-footer__button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #fffcf7;
  background-color: #aa83c1;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.quiz-footer__button:hover {
  background-color: #9a3f9a;
}

.disabled {
  opacity: 0.2;
}

.results-main__button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #fffcf7;
  background-color: #aa83c1;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.results-main__button:hover {
  background-color: #9a3f9a;
}

.categories__button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #fffcf7;
  background-color: #aa83c1;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media all and (max-width: 1000px) {
  .categories__button {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-style: normal;
  }
}

@media all and (max-width: 768px) {
  .categories__button {
    height: 35px;
  }
}

.categories__button:hover {
  background-color: #9a3f9a;
}

.button_active {
  background-color: #9a3f9a;
}

.bird-card-player__button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 15px;
}

.bird-card-player__button:hover {
  transform: scale(1.1);
}

.bird-card-player__button-sound {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: .5s;
  cursor: pointer;
  margin-right: 10px;
}

.bird-card-player__button-sound:hover {
  transform: scale(1.1);
}

.bird-card__button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/x_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  background: #fedbcf;
  background: radial-gradient(circle, #fedbcf 0%, #d1a8d4 100%);
}

.logo-title {
  font-family: "Lobster", cursive;
  font-size: 5.2rem;
  color: #fffcf7;
  background: transparent;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

.logo-title::before {
  content: '';
  background-image: url(../assets/img/yellow_parrot.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -45px;
  left: 165px;
}

.page-container {
  max-width: 1920px;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-container_start {
  padding: 30px;
}

.page-container_quiz {
  padding: 30px 150px 40px;
}

@media all and (max-width: 1400px) {
  .page-container_quiz {
    padding: 30px 100px 40px;
  }
}

@media all and (max-width: 1000px) {
  .page-container_quiz {
    padding: 30px 50px 40px;
  }
}

@media all and (max-width: 768px) {
  .page-container_quiz {
    padding: 30px 20px 40px;
  }
}

.page-container_results {
  padding: 30px 200px 40px;
}

@media all and (max-width: 1280px) {
  .page-container_results {
    padding: 30px 100px 40px;
  }
}

@media all and (max-width: 768px) {
  .page-container_results {
    padding: 30px 20px 40px;
  }
}

.page-container_gallery {
  padding: 30px 200px 40px;
  position: relative;
}

@media all and (max-width: 1500px) {
  .page-container_gallery {
    padding: 30px 100px 40px;
  }
}

@media all and (max-width: 1280px) {
  .page-container_gallery {
    padding: 30px 50px 40px;
  }
}

@media all and (max-width: 768px) {
  .page-container_gallery {
    padding: 30px 20px 40px;
  }
}

.main-player {
  width: 100%;
}

.main-player__upper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-player__slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-player__slider {
  width: 100%;
  position: relative;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.main-player__progress {
  background-color: #9a3f9a;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.main-player__time-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-player__volume-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
}

.main-player__volume-slider {
  width: 30%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  cursor: pointer;
  overflow: hidden;
}

.main-player__volume-slider::-webkit-slider-runnable-track {
  cursor: pointer;
  color: #9a3f9a;
  border-radius: 5px;
}

.main-player__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9a3f9a;
  box-shadow: -405px 0 0 400px #9a3f9a;
}

.info-player {
  width: 100%;
}

.info-player__upper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.info-player__slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info-player__slider {
  width: 100%;
  position: relative;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.info-player__progress {
  background-color: #9a3f9a;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.info-player__time-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-player__volume-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-player__volume-slider {
  width: 30%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  cursor: pointer;
  overflow: hidden;
}

.info-player__volume-slider::-webkit-slider-runnable-track {
  cursor: pointer;
  color: #9a3f9a;
  border-radius: 5px;
}

.info-player__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9a3f9a;
  box-shadow: -205px 0 0 200px #9a3f9a;
}

.bird-card-player {
  width: 100%;
}

.bird-card-player__upper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.bird-card-player__slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bird-card-player__slider {
  width: 100%;
  position: relative;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
}

.bird-card-player__progress {
  background-color: #9a3f9a;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.bird-card-player__time-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bird-card-player__volume-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bird-card-player__volume-slider {
  width: 30%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background-color: #fffcf7;
  cursor: pointer;
  overflow: hidden;
}

.bird-card-player__volume-slider::-webkit-slider-runnable-track {
  cursor: pointer;
  color: #9a3f9a;
  border-radius: 5px;
}

.bird-card-player__volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #9a3f9a;
  box-shadow: -205px 0 0 200px #9a3f9a;
}

.time,
.info-time {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #9a3f9a;
}

.bird-info {
  width: 58%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 175, 215, 0.3);
  border-radius: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 20px 30px;
}

@media all and (max-width: 1280px) {
  .bird-info {
    width: 68%;
  }
}

@media all and (max-width: 768px) {
  .bird-info {
    width: 100%;
    padding: 10px 20px;
  }
}

.bird-info__basic {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  .bird-info__basic {
    margin-bottom: 15px;
  }
}

.bird-info__picture-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 1000px) {
  .bird-info__picture-wrapper {
    width: 35%;
  }
}

.bird-info__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #fffcf7 0%, #f7bfd5 100%);
  margin: 0 auto;
}

@media all and (max-width: 490px) {
  .bird-info__picture {
    width: 100px;
    height: 100px;
  }
}

.bird-info__image {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
}

.bird-info__other {
  width: 75%;
  padding-left: 30px;
}

@media all and (max-width: 1000px) {
  .bird-info__other {
    width: 65%;
  }
}

@media all and (max-width: 490px) {
  .bird-info__other {
    padding-left: 20px;
  }
}

.bird-info__name {
  width: 100%;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  color: #9a3f9a;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7dae6;
}

.bird-info__species {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: normal;
  color: #9a3f9a;
  border-bottom: 1px solid #f7dae6;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.bird-info__description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #52253d;
  text-align: justify;
  overflow: auto;
}

.start-header__burger {
  display: none;
  position: relative;
  width: 30px;
  cursor: pointer;
  z-index: 25;
  transition: 0.5s;
}

@media all and (max-width: 768px) {
  .start-header__burger {
    display: block;
  }
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fffcf7;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.start-header__burger.opened .line:first-child {
  transform: translateY(8px) rotate(45deg);
}

.start-header__burger.opened .line:nth-child(2) {
  display: none;
}

.start-header__burger.opened .line:nth-child(3) {
  transform: rotate(-45deg);
}

.burger-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: 0.5s;
}

.shown {
  display: block;
}

.start-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 768px) {
  .start-header__navigation {
    position: absolute;
    top: -230px;
    right: -30px;
    width: 300px;
    height: 200px;
    background-color: #b18dc6;
    padding: 30px;
    transition: 0.5s;
    z-index: 20;
    border-radius: 15px;
  }
}

.start-nav {
  display: flex;
}

@media all and (max-width: 768px) {
  .start-nav {
    flex-direction: column;
  }
}

.start-nav__item {
  padding-left: 50px;
}

@media all and (max-width: 1000px) {
  .start-nav__item {
    padding-left: 30px;
  }
}

@media all and (max-width: 768px) {
  .start-nav__item {
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.start-nav__link {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #fffcf7;
  text-decoration: none;
  transition: .5s;
}

.start-nav__link:hover {
  color: #9a3f9a;
}

.open {
  top: 0;
}

.start-main {
  padding: 15% 0;
}

@media all and (max-width: 768px) {
  .start-main {
    padding: 20% 0;
  }
}

.quiz-start {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #c8afd7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media all and (max-width: 520px) {
  .quiz-start {
    width: 200px;
    height: 200px;
  }
}

.quiz-start::before {
  content: '';
  background-image: url(../assets/img/green_bird.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -50px;
  left: -70px;
}

@media all and (max-width: 520px) {
  .quiz-start::before {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -30px;
  }
}

.quiz-start::after {
  content: '';
  background-image: url(../assets/img/yellow_parrot.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 200px;
}

@media all and (max-width: 520px) {
  .quiz-start::after {
    width: 100px;
    height: 100px;
    top: 80px;
    left: 150px;
  }
}

.quiz-start__link {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #f7dae6;
  color: #2f1523;
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 700;
  font-style: normal;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}

@media all and (max-width: 520px) {
  .quiz-start__link {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

.quiz-start__link:hover {
  color: #9a3f9a;
}

.start-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.start-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 1 auto;
}

.github-link {
  text-decoration: none;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #522152;
}

.github-link__image {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.school-link {
  width: 150px;
}

.quiz-header {
  width: 100%;
}

.quiz-header__upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

@media all and (max-width: 1000px) {
  .quiz-header__upper {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 768px) {
  .quiz-header__upper {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 768px) {
  .quiz-header__upper {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

.quiz-header__score {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #9a3f9a;
  text-align: left;
}

.quiz-header__link {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #fffcf7;
  text-decoration: none;
  transition: 0.5s;
  padding-left: 20px;
}

.quiz-header__link:first-child {
  padding-left: 0;
}

@media all and (max-width: 1000px) {
  .quiz-header__link {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 700;
    font-style: normal;
  }
}

.quiz-header__link:hover {
  color: #9a3f9a;
}

.quiz-header__questions {
  width: 100%;
}

.player-score {
  display: inline-block;
  padding-left: 20px;
}

.questions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media all and (max-width: 1000px) {
  .questions {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 768px) {
  .questions {
    flex-wrap: wrap;
    row-gap: 7px;
    margin-bottom: 15px;
  }
}

.questions__item {
  width: 15.8%;
}

@media all and (max-width: 768px) {
  .questions__item {
    width: 32%;
  }
}

.question {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: rgba(200, 175, 215, 0.3);
  border-radius: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  margin-bottom: 40px;
  padding: 20px 30px;
}

@media all and (max-width: 1000px) {
  .question {
    margin-bottom: 20px;
    padding: 10px 30px;
  }
}

@media all and (max-width: 768px) {
  .question {
    padding: 10px 20px;
  }
}

.question__picture-wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media all and (max-width: 768px) {
  .question__picture-wrapper {
    width: 40%;
  }
}

.question__picture {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #fffcf7 0%, #f7bfd5 100%);
  margin: 0 auto;
}

@media all and (max-width: 1000px) {
  .question__picture {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 490px) {
  .question__picture {
    width: 110px;
    height: 110px;
  }
}

.question__image {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
}

.question__sound {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

@media all and (max-width: 768px) {
  .question__sound {
    width: 60%;
  }
}

@media all and (max-width: 490px) {
  .question__sound {
    padding-left: 20px;
  }
}

.question__bird-name {
  width: 100%;
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #9a3f9a;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7dae6;
  margin-bottom: 30px;
}

@media all and (max-width: 1000px) {
  .question__bird-name {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 768px) {
  .question__bird-name {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
  }
}

.question__intro {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  color: #52253d;
  text-align: justify;
  overflow: auto;
}

.quiz-main {
  margin-bottom: 40px;
}

@media all and (max-width: 1000px) {
  .quiz-main {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 768px) {
  .quiz-main {
    margin-bottom: 15px;
  }
}

.quiz-main__answers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .quiz-main__answers {
    flex-direction: column;
  }
}

.answers {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 175, 215, 0.3);
  border-radius: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media all and (max-width: 1280px) {
  .answers {
    width: 30%;
  }
}

@media all and (max-width: 768px) {
  .answers {
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
  }
}

.answers__item {
  width: 90%;
  margin-bottom: 3px;
}

@media all and (max-width: 768px) {
  .answers__item {
    width: 48%;
  }
}

.inactive {
  pointer-events: none;
}

.results-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.results-header__logo {
  margin-bottom: 40px;
}

.results-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: rgba(200, 175, 215, 0.3);
  border-radius: 15px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 20px 30px;
  box-sizing: border-box;
}

.results-main__title {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: normal;
  color: #9a3f9a;
  margin-bottom: 50px;
}

@media all and (max-width: 490px) {
  .results-main__title {
    font-size: 3.8rem;
    line-height: 3.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

.results-main__text {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  font-style: normal;
  color: #9a3f9a;
  text-align: center;
  margin-bottom: 80px;
}

@media all and (max-width: 490px) {
  .results-main__text {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

.results-main__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.gallery-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  .gallery-header__wrapper {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
}

.gallery-header__categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery-header__button {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  font-style: normal;
  color: #fffcf7;
  text-decoration: none;
  transition: 0.5s;
  padding-left: 50px;
}

@media all and (max-width: 768px) {
  .gallery-header__button {
    padding-left: 20px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 700;
    font-style: normal;
  }
}

.gallery-header__button:hover {
  color: #9a3f9a;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media all and (max-width: 768px) {
  .categories {
    flex-wrap: wrap;
    row-gap: 7px;
    margin-bottom: 30px;
  }
}

.categories__item {
  width: 15.8%;
}

@media all and (max-width: 768px) {
  .categories__item {
    width: 32%;
  }
}

.gallery-main {
  position: relative;
  width: 100%;
}

.gallery-main__items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

@media all and (max-width: 1700px) {
  .gallery-main__items {
    gap: 40px;
  }
}

@media all and (max-width: 1280px) {
  .gallery-main__items {
    gap: 30px;
  }
}

@media all and (max-width: 768px) {
  .gallery-main__items {
    gap: 20px;
  }
}

.gallery-main__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(180deg, #fffcf7 0%, #f7bfd5 100%);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  overflow: hidden;
  cursor: pointer;
}

.gallery-main__item:hover .gallery-main__overlay {
  height: 100%;
}

@media all and (max-width: 1700px) {
  .gallery-main__item {
    width: 300px;
    height: 300px;
  }
}

@media all and (max-width: 1100px) {
  .gallery-main__item {
    width: 250px;
    height: 250px;
  }
}

@media all and (max-width: 940px) {
  .gallery-main__item {
    width: 200px;
    height: 200px;
  }
}

@media all and (max-width: 460px) {
  .gallery-main__item {
    width: 150px;
    height: 150px;
  }
}

.gallery-main__image {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  object-fit: cover;
}

.gallery-main__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 0.5s ease;
}

.gallery-main__title {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: #fffcf7;
}

@media all and (max-width: 1000px) {
  .gallery-main__title {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

@media all and (max-width: 768px) {
  .gallery-main__title {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 700;
    font-style: normal;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.bird-card {
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #c8afd7;
  border-radius: 15px;
  padding: 20px 30px;
}

@media all and (max-width: 520px) {
  .bird-card {
    padding: 20px 15px;
  }
}

.bird-card__basic {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  .bird-card__basic {
    margin-bottom: 10px;
  }
}

.bird-card__picture-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 768px) {
  .bird-card__picture-wrapper {
    width: 35%;
  }
}

.bird-card__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #fffcf7 0%, #f7bfd5 100%);
  margin: 0 auto;
}

.bird-card__image {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  object-fit: cover;
}

.bird-card__other {
  width: 75%;
  padding-left: 30px;
}

@media all and (max-width: 768px) {
  .bird-card__other {
    width: 65%;
  }
}

.bird-card__name {
  width: 100%;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-style: normal;
  color: #9a3f9a;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7dae6;
}

.bird-card__species {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: normal;
  color: #9a3f9a;
  border-bottom: 1px solid #f7dae6;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.bird-card__description {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-style: normal;
  color: #52253d;
  text-align: justify;
  overflow: auto;
}

.bird-card-time {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #9a3f9a;
}
/*# sourceMappingURL=style.css.map */