$color-pink-main: #fedbcf;
$color-violet-light: #d1a8d4;
$color-light: #fffcf7;
$color-pink-add: #f7dae6;
$color-title: #2f1523;
$color-violet-pale: #c8afd7;
$color-violet-dark: #9a3f9a;
$color-black: #000000;

$font-main: 'Lato', sans-serif;
$font-logo: 'Lobster', cursive;

@mixin font($size, $height, $weight, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}