.start-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-nav {
  display: flex;

  &__item {
    padding-left: 40px;
  }

  &__link {
    @include font(1.8rem, 2.2rem, 400);
    color: $color-light;
    text-decoration: none;
    transition: .5s;
    
    &:hover {
      color: $color-violet-pale;
    }
  }
}

.start-main {
  padding: 15% 0;
}

.quiz-start {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $color-violet-pale;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
  &::before {
    content: '';
    background-image: url(../assets/img/green_bird.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: -70px;
  }

  &::after {
    content: '';
    background-image: url(../assets/img/yellow_parrot.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 200px;
  }

  &__link {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $color-pink-add;
    color: $color-title;
    @include font(2.8rem, 3.2rem, 700);
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
  }
}

.start-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.bg-video {
  width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
  object-fit: cover;
}

.start-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 1 auto;
}

.github-link {
  text-decoration: none;
  @include font(1.8rem, 2.2rem, 700);
  color: darken($color-violet-dark, 20%);

  &__image {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}

.school-link {
  width: 150px;
}